.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fs-14{
    font-size: 14px;
    line-height: 21px;
}
.fs-16{
    font-size: 16px;
    line-height: 24px;
}
.fs-20{
    font-size: 20px;
    line-height: 30px;
}
.fs-22{
    font-size: 22px;
    line-height: 33px;
}
.fs-24{
    font-size: 24px;
    line-height: 36px;
}
.fs-26{
    font-size: 26px;
    line-height: 39px;
}
.fs-28{
    font-size: 28px;
    line-height: 42px;
}
.fs-34{
    font-size: 34px;
    line-height: 51px;
}
