header{
    padding: 23px 30px;
    background-color: white;
    margin-bottom: 30px;
    position: sticky;
    top: 0  ;
    z-index: 3;
}
.burgerMenu{
    height: 34px;
    cursor: pointer;
}
.notification{
    height: 30px;
    position: relative;
    cursor: pointer;
}
.sup{
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    background-color: #056DFF;
    border: 1.17px solid #FFFFFF;
    color: white;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -7px;
    top: -7px;
}

@media (max-width:1549.98px) {
    header{
        padding: 18px 25px;
        margin-bottom: 20px;
    }
    .burgerMenu{
        height: 25px;
    }
    .burgerMenu img{
        width: 25px;
    }
    .notification{
        height: 25px;
    }
   
}
@media (max-width:575.98px) {
    header{
      padding: 16px;
      margin-bottom: 16px;
    }
    .burgerMenu ,.burgerMenu img,.notification,.notification img{
        height: 24px;
        width: 24px;
    }
    .sup{
        height: 14px;
        width: 14px;
    }
  }