header{
    padding: 23px 30px;
    background-color: white;
    margin-bottom: 30px;
    position: sticky;
    top: 0  ;
    z-index: 2;
}
.burgerMenu{
    height: 34px;
    cursor: pointer;
}
.notification{
    height: 30px;
}

@media (max-width:575.98px) {
    header{
      padding: 16px;
      margin-bottom: 0;
    }
    .burgerMenu ,.burgerMenu img,.notification,.notification img{
        height: 24px;
        width: 24px;
    }
  }