.mt-10{
    margin-top: 10px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-40{
    margin-bottom: 40px;
}
.gap-10{
    gap: 10px;
}
.gap-16{
    gap: 16px;
}
.gap-20{
    gap: 20px;
}