.dropdown-container {
  position: relative;
  font-family: Arial, sans-serif;
}

.dropdown-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 11px 14px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  padding: 0;
  align-items: center;
  gap: 6px;
}

.dropdown-list {
  position: absolute;
  top: 58px;
  right: 0;
  background-color: #fff;
  border: 1px solid #F3F3F7;
  border-radius: 8px;
  box-shadow: 0px 0px 24px 0px #EEEEF1E5;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  width: 290px;
  padding: 16px;
}

.dropdown-list::-webkit-scrollbar {
  display: none;
}

.dropdown-item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.dropdown-item label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selected-items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.flex-wrap{
  flex-wrap: wrap;
}
.selected-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 21px;
  border-radius: 44px;
  background-color: #F2F7FD;
  padding: 8px 16px;
}

.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 0;
}

.merchantGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.merchantCard {
  border: 1px solid #E3E3E8;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.topPadding {
  padding: 20px 20px 0 20px;
}

.merchantImage {
  height: 90px;
  width: 160px;
  margin: 0 auto 20px;
}

.merchantImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.merchantImg{
  height: 180px;
  object-fit: cover;
}


.bottomPadding {
  padding: 20px;
}

.freeAbsolute {
  position: absolute;
  left: 20px;
  bottom: 25px;
  color: white;
}

.nudgeTag {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  padding: 4px 16px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 4px;
  background-color: #056DFF;
}

.label {
  font-size: 14px;
  line-height: 10px;
  color: white;
  padding: 8px;
  border-radius: 4px;
  width: fit-content;
}

.greenLabel {
  background-color: #3CCF5C;
}

.redLabel {
  background-color: #ED4949;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.count {
  padding: 6px;
  font-size: 14px;
  line-height: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  border-radius: 4px;
  background: #00DE301A;
  color: #00DE30;
}

.countred {
  color: #FF3939;
  background: #FF39391A;

}

.gridBtn {
  display: flex;
  gap: 10px;
}

.gridBtn .btn {
  width: 100%;
}

.tabPadding {
  padding: 20px 20px;
  background-color: white;
  border-radius: 16px;
}

.ant-breadcrumb ol {
  align-items: center;
}

.ant-breadcrumb ol li:last-child {
  color: #056DFF;
}

.ant-breadcrumb .ant-breadcrumb-separator {
  height: 18px !important;
}

.editBtn {
  height: 24px;
}

.tabFull .tab-button {
  width: 100%;
  padding: 18px 36px;
  background: transparent;
}

.tabFull .tab-button.active {
  background: #005CDE;
}

.tabFull .tabs {
  width: 100%;
  background-color: transparent;
}

.img54 {
  height: 45px;
}

.cardFollow {
  border: 1px solid #E3E3E8;
  border-radius: 20px;
  padding: 20px;
}

.w-172 {
  width: 172px;
}

.fixedDate {
  width: calc(100% - 32px);
}

.initialName {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  min-height: 48px;
  min-width: 48px;
  background-color: #056DFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexTag {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  height: 78px;
  overflow: hidden;
}

.flexTag div {
  background-color: #EBF3FF;
  border-radius: 20px;
  padding: 5px 10px;

}

.flexTag2 {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.flexTag2 div {
  border: 1px solid #E3E3E8;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 21px;
}

.flexTag2 div:last-child {
  color: white;
  background-color: #056DFF;
  border-color: #056DFF;
  cursor: pointer;
}

.flexTagFull {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.flexTagFull div {
  border: 1px solid #056DFF;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 21px;
  color: white;
  background-color: #056DFF;
}

.mh400 {
  max-height: 400px;
  height: 400px;
}

.floatAdd {
  position: fixed;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 12px;
  box-shadow: 0px 0px 80px 0px #00000033;
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  gap: 12px;
}

.floatAdd .btn {
  gap: 8px;
  width: 340px;
}

.custom-select .select-options .active {
  background-color: #e0e0e0;
  font-weight: bold;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.imgGrid div {
  height: 160px;
  width: 100%;
}

.imgGrid div img {
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.reviewImge {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewTag {
  display: flex;
  align-items: center;
}

.reviewTag div:not(.reviewImge div:last-child) {
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px solid #D9D9D9;
}

.reviewCard {
  padding: 20px;
  background-color: #F4F4F6;
  border-radius: 8px;
}
.activeNudge{
  color: white ;
  background-color: #056DFF;
}
.activeNudge .grey{
  color: white;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.emptyHeight {
  height: calc(100vh - 112px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 424px !important;
  padding: 30px !important;
  border-radius: 32px !important;
  position: relative;
  overflow: hidden;
  height: fit-content;
}
.card16{
  padding: 16px;
  border: 1px solid #E3E3E8;
  border-radius: 12px;
}
.image80{
  height: 80px;
  width: 80px;
  border-radius: 8px;
  overflow: hidden;
}
.image80 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gc{
  color: #5FEE6D;
}
.pc{
  color: #056DFF;
}
.range{
  width: 100%;
  height: 12px;
  background-color: rgba(95, 238, 109, 0.25);
  border-radius: 20px;
  overflow: hidden;
}
.rangePercentage{
  height: 12px;
  background-color: #5FEE6D;
  border-radius: 20px;
}
.weekNudge{
  background-color: #ECF4FF;
  border-radius: 12px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.p16{
  padding: 0px 16px;
}
.addNudge{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 88px;
  height: 40px;
  border: 1px dashed #056DFF;
  border-radius: 8px;
  background-color: #E0EDFF;
  font-size: 16px;
  font-weight: 500;
}
.tabing .tab-button{
  padding: 16px 109px;
  line-height: 24px;
}
/* Sidebar.css */
.rightSidebar {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -400px;
  transition: right 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  z-index: 11;
  background-color: white;
}
.overflowSidebar{
  height: calc(100vh - 120px);
  overflow-y: auto;
}
.overflowCart{
  height: calc(100vh - 445px);
  overflow-y: auto;
}
.brandFlex{
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  align-items: center;
}
.brandFlex div{
  font-size: 14px;
  line-height: 21px;
  border-radius: 20px;
  background-color: #EBF3FF;
  padding: 5px 10px;
}
.preferenceFlex{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}
.preferenceFlex div{
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #056DFF;
  border-radius: 40px;
  background-color: #EBF3FF;
  padding: 8px 16px;
}
.overflowSidebar::-webkit-scrollbar{
  display: none;
}
.overflowCart::-webkit-scrollbar{
  display: none;
}
.rightSidebar.open {
  right: 0; /* Slide in */
}


.rightSidebar .close-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rightSidebar .close-btn:hover {
  background-color: #777;
}

/* Overlay styles */
.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 10;
}
.historyFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E3E3E8;
  cursor: pointer;
}
.historyFlex .initialName img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.historyFlex .initialName{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  font-size: 16px;
}
.nudgeGrid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 288px;
  justify-content: start;
  align-items: start;
  width: fit-content;
}
input[type="radio"]{
  display: none;
}
.custom-label{
  border: 1px solid #EEF0F2;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  height: 132px;
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 228px;
}     
.custom-radio-button{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000081;
  z-index: 2;
  align-items: center;
  justify-content: center;
}
input[type="radio"]:checked + .custom-radio-button{
  display: flex;
}
.radioImage{
  height: 60px;
  padding: 10px;
}
.radioImage img{
  height: 100%;
}
.radioCafeName{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 12px; */
  height: 100%;
  background-color: #EEF0F2;
  height: 54px;
}
.templateGrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px 6px;

}
.templateImage{
  height: 142px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.templateImage img{ 
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.absoluteTemplateText{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  bottom: 20px;
}
.w240{
  width: 240px;
}
.w164{
  width: 164px;
}
.reflectImage{
  width: 345px;
  height: 200px;
  border-radius: 21px;
  overflow: hidden;
  position: relative;
}
.reflectImage img{ 
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 1499.98px) {
  .merchantGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1199.98px) {
  .inputGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .twoSpace {
    grid-column: span 1;
  }
}

@media (max-width: 1023.98px) {
  .inputGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .imgGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .twoSpace {
    grid-column: span 2;
  }
}

@media (max-width: 767.98px) {
  .inputGrid ,.grid3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgGrid,.templateGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .twoSpace {
    grid-column: span 1;
  }
  .flexWrapsm{
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .merchantGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .ant-pagination-item,
  .ant-pagination-next,
  .ant-pagination-prev {
    height: 30px !important;
    width: 30px !important;
    border-color: #F4F4F6 !important;
    padding: 0 !important;
  }

  .flexPagination {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .bottomPadding {
    padding: 16px;
  }

  .gridBtn {
    gap: 4px;
  }

  .ant-pagination-item {
    margin-inline-end: 4px !important
  }

  .topPadding {
    padding: 16px 16px 0 16px;
  }
}
.minw{
  min-width: 300px;
}
.wordno{
  white-space: nowrap;
}
@media (max-width: 575.98px) {
  .imgGrid ,.grid4{
    grid-template-columns: repeat(1, 1fr);
  }
  .flexmd{
    flex-direction: column; 
    align-items: start;
  }
  .tabing .tab-button{
    padding: 10px 50px;
  }
  .editBtn {
    align-self: flex-end;
  }
  .dropdown-list {
    width: 250px;
  }
  .rightSidebar{
    width: 100%;
    right: -100%;
  }
  .btn {
    font-size: 14px;
  }
  .flexBtn{
    flex-direction: column;
    align-items: end;
  }
  .reflectImage,.w240{
    width: 100%;
  }
  .fs-18 {
    font-size: 14px;
    line-height: 20px;
  }
}