.dropdown-container {
  position: relative;
  font-family: Arial, sans-serif;
}

.dropdown-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 11px 14px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  padding: 0;
  align-items: center;
  gap: 6px;
}

.dropdown-list {
  position: absolute;
  top: 58px;
  right: 0;
  background-color: #fff;
  border: 1px solid #F3F3F7;
  border-radius: 8px;
  box-shadow: 0px 0px 24px 0px #EEEEF1E5;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  width: 290px;
  padding: 16px;
}

.dropdown-list::-webkit-scrollbar {
  display: none;
}

.dropdown-item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.dropdown-item label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selected-items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.selected-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 21px;
  border-radius: 44px;
  background-color: #F2F7FD;
  padding: 8px 16px;
}

.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 0;
}

.merchantGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.merchantCard {
  border: 1px solid #E3E3E8;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.topPadding {
  padding: 20px 20px 0 20px;
}

.merchantImage {
  height: 90px;
  width: 160px;
  margin: 0 auto 20px;
}

.merchantImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bottomPadding {
  padding: 20px;
}

.freeAbsolute {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
}

.nudgeTag {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  padding: 4px 16px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 4px;
  background-color: #056DFF;
}

.label {
  font-size: 14px;
  line-height: 10px;
  color: white;
  padding: 8px;
  border-radius: 4px;
  width: fit-content;
}

.greenLabel {
  background-color: #3CCF5C;
}

.redLabel {
  background-color: #ED4949;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.count {
  padding: 6px;
  font-size: 14px;
  line-height: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  border-radius: 4px;
  background: #00DE301A;
  color: #00DE30;
}

.countred {
  color: #FF3939;
  background: #FF39391A;

}

.gridBtn {
  display: flex;
  gap: 10px;
}

.gridBtn .btn {
  width: 100%;
}

.tabPadding {
  padding: 30px 20px;
  background-color: white;
  border-radius: 16px;
}

.ant-breadcrumb ol {
  align-items: center;
}

.ant-breadcrumb ol li:last-child {
  color: #056DFF;
}

.ant-breadcrumb .ant-breadcrumb-separator {
  height: 18px !important;
}

.editBtn {
  height: 24px;
}

.tabFull .tab-button {
  width: 100%;
  padding: 18px 36px;
  background: transparent;
}

.tabFull .tab-button.active {
  background: #005CDE;
}

.tabFull .tabs {
  width: 100%;
  background-color: transparent;
}

.img54 {
  height: 45px;
}

.cardFollow {
  border: 1px solid #E3E3E8;
  border-radius: 20px;
  padding: 20px;
}

.w-172 {
  width: 172px;
}

.fixedDate {
  width: calc(100% - 32px);
}

.initialName {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  min-height: 48px;
  min-width: 48px;
  background-color: #056DFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexTag {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  height: 78px;
  overflow: hidden;
}

.flexTag div {
  background-color: #EBF3FF;
  border-radius: 20px;
  padding: 5px 10px;

}

.flexTag2 {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.flexTag2 div {
  border: 1px solid #E3E3E8;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 21px;
}

.flexTag2 div:last-child {
  color: white;
  background-color: #056DFF;
  border-color: #056DFF;
  cursor: pointer;
}

.flexTagFull {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.flexTagFull div {
  border: 1px solid #056DFF;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 21px;
  color: white;
  background-color: #056DFF;
}

.mh400 {
  max-height: 400px;
  height: 400px;
}

.floatAdd {
  position: fixed;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 12px;
  box-shadow: 0px 0px 80px 0px #00000033;
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  gap: 12px;
}

.floatAdd .btn {
  gap: 8px;
  width: 340px;
}

.custom-select .select-options .active {
  background-color: #e0e0e0;
  font-weight: bold;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.imgGrid div {
  height: 160px;
  width: 100%;
}

.imgGrid div img {
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.reviewImge {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewTag {
  display: flex;
  align-items: center;
}

.reviewTag div:not(.reviewImge div:last-child) {
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px solid #D9D9D9;
}

.reviewCard {
  padding: 20px;
  background-color: #F4F4F6;
  border-radius: 8px;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.emptyHeight {
  height: calc(100vh - 112px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 424px !important;
  padding: 30px !important;
  border-radius: 32px !important;
  position: relative;
  overflow: hidden;
  height: fit-content;
}

@media (max-width: 1499.98px) {
  .merchantGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1199.98px) {
  .inputGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .twoSpace {
    grid-column: span 1;
  }
}

@media (max-width: 1023.98px) {
  .inputGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .imgGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .twoSpace {
    grid-column: span 2;
  }
}

@media (max-width: 767.98px) {
  .inputGrid ,.grid3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .twoSpace {
    grid-column: span 1;
  }
  .flexWrapsm{
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .merchantGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .ant-pagination-item,
  .ant-pagination-next,
  .ant-pagination-prev {
    height: 30px !important;
    width: 30px !important;
    border-color: #F4F4F6 !important;
    padding: 0 !important;
  }

  .flexPagination {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .bottomPadding {
    padding: 16px;
  }

  .gridBtn {
    gap: 4px;
  }

  .ant-pagination-item {
    margin-inline-end: 4px !important
  }

  .topPadding {
    padding: 16px 16px 0 16px;
  }
}
.minw{
  min-width: 300px;
}
.wordno{
  white-space: nowrap;
}
@media (max-width: 575.98px) {
  .imgGrid ,.grid4{
    grid-template-columns: repeat(1, 1fr);
  }
  .flexmd{
    flex-direction: column; 
    align-items: start;
  }
  .editBtn {
    align-self: flex-end;
  }
  .dropdown-list {
    width: 250px;
  }

  .btn {
    font-size: 14px;
  }
  .flexBtn{
    flex-direction: column;
    align-items: end;
  }
}