@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./assets/css/font.css);
@import url(./assets/css/space.css);

button,
button:focus,
button:focus-visible {
  box-shadow: none;
  outline: none;
  border: none;
}

.text-center {
  text-align: center;
}

input:focus,
input:focus-visible,
input:focus-within,
input:hover,
select:focus,
select:focus-visible,
select:focus-within,
select:hover {
  box-shadow: none !important;
  outline: none !important;
}

a {
  text-decoration: none;
}

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #F4F4F6;
}

* {

  font-family: "Poppins", sans-serif !important;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.object-cover {
  object-fit: cover;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50%;
}

.w-lg-50 {
  width: 50%;
}

.d-grid {
  display: grid;
}

.justify-between {
  justify-content: space-between;
}

.overflowy {
  overflow-y: auto;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: #F05C5F;
}

.mobileShow {
  display: none;
}

input,
textarea {
  font-size: 14px;
  line-height: 21px;
  padding: 12.5px 13px;
  border: 1.5px solid transparent;
  width: calc(100% - 29px);
  background-color: #F3F4F5;
  border-radius: 12px;
}
.input {
  font-size: 14px !important;
  line-height: 21px !important;
  padding: 12.5px 13px;
  border: 1.5px solid transparent;
  width: calc(100% - 29px);
  background-color: #F3F4F5;
  border-radius: 12px;
}
.custom-select .ant-select-selector {
  font-size: 14px !important;
  line-height: 21px !important;
  padding: 12.5px 13px !important;
  border: 1.5px solid transparent !important;
  width: calc(100% - 29px)  !important;
  background-color: #F3F4F5 !important;
  border-radius: 12px !important;
}

input:focus,
textarea:focus {
  background-color: #F0F0F0;
  border: 1.5px solid #111111;
}

input:hover,
textarea:hover {
  background-color: #F0F0F0;
}

input::placeholder,
textarea::placeholder ,.ant-picker .ant-picker-input >input::placeholder{
  color: #737373 !important;
  opacity: 1 !important;
}

label {
  display: block;
}

.mx-450 {
  max-width: 450px;
  width: 100%;
}
.sc{
  color: #056DFF;
}
.text-end{
  text-align: right;
}
.btn {
  background-color: #056DFF;
  border-radius: 12px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}
.resendBtn {
  background-color: #056DFF;
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.436);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

.mapMarker {
  color: red;
  font-size: 2rem;
  transition: all 0.3s ease;
}

.m-0 {
  margin: 0 !important;
}
  
.lineSearch{
  position: relative; 
}
.lineSearch::after{
  content: "";
  height: 24px;
  width: 1px;
  background-color: #DCDFE5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 44px;
}
.absoluteImage{
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 16px;
}
.lineSearch input{
  padding-left: 57px;
  width: calc(100% - 72px);
}
.btn:hover{
  background-color: #0055CC;
}

.btnSecondary {
  border: 1px solid #056DFF;
  background: white;
  color: #056DFF;
}

.btnSecondary:hover {
  background: #EBF3FF;
}
.deleteBtn,.deleteBtn:hover{
  border: 1px solid #F5453B;
  color: #F5453B ;
  background-color: transparent;
  min-width: 50px;
}

.deleteBtnfull,.deleteBtnfull:hover{
  background-color: #FF5B5B;
  border: 1px solid #FF5B5B;
  color: white;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #E3E3E8;
  margin: 20px 0;
}

.divider2 {
  width: 100%;
  height: 1px;
  background-color: #E3E3E8;
  margin: 20px 0;
}
.divider3 {
  width: 100%;
  height: 1px;
  background-color: #E3E3E8;
  margin: 30px 0;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  height: fit-content;
}
.cursor-pointer{
  cursor: pointer;
}
.checkLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  gap: 8px;
  font-size: 14px;
  line-height: 21px;
}
.secondarysecond{
  border: 2px solid #0055CC;
  padding: 8px 20px;
  height: unset;
}
.custom-checkbox input[type="checkbox"] {
  display: none;
  /* Hide the default checkbox */
}

.custom-checkbox .checkmark {
  position: relative;
  min-height: 20px;
  min-width: 20px;
  background-color: #fff;
  border: 2px solid #B3B3B3;
  border-radius: 5px;
  /* Rounded corners */
  transition: all 0.3s ease;
}

/* Checkbox checked state */
.custom-checkbox input[type="checkbox"]:checked+.checkmark {
  background-color: #056DFF;
  border-color: #056DFF;
}

/* Checkmark tick */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Show tick when checked */
.custom-checkbox input[type="checkbox"]:checked+.checkmark::after {
  display: block;
}

/* Add hover effect */
.custom-checkbox label:hover .checkmark {
  border-color: #007bff;
}
.ant-pagination-item-link{
  background-color: #F4F4F6 !important;
  border-radius: 6px;
}
.ant-pagination-item,.ant-pagination-next,.ant-pagination-prev  {
  height: 40px !important;
  width: 40px !important;
  border-color:  #F4F4F6 !important;
}
.ant-pagination-item a{
  height: 100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.ant-pagination-item-active a{
  color: white !important;
}
.ant-pagination-item-active{
  background-color: #056DFF !important;
  border-color: #056DFF !important;
}
.grey{
  color: #73738C;
}
.inputGrid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
}
.twoSpace{
  grid-column: span 2;
}
.saveBtn{
  padding: 0 32px;
}
.text-start,.text-start th{
  text-align: start;
}
table{
  padding: 0;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}
table th{
  background-color: #111111;
  color: white !important;
}
table tr th{
  padding: 16px;
  border-left: 1px solid #4D4D4D  ;
  border-bottom: 1px solid #4D4D4D  ;
} 
table tr td{
  padding: 16px;
  border-left: 1px solid #E6E6E6  ;
  border-bottom: 1px solid #E6E6E6  ;
}
.stripped tbody tr:nth-child(even) {
  background-color: #F3F4F4;
}
.downloadIcon{
  height: 20px;
}
.overflow{
  overflow-x: auto;
}
.h-24{
  height: 24px;
}
.anchor{
  text-decoration: underline;
  color: #111111;
}
.grid3{
  grid-template-columns: repeat(3,1fr);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.my228{
  max-height: 228px;
}
.custom-select {
  width: 100%;
  position: relative;
  z-index: 1;
}
.select-options{
  position: absolute;
  width: calc(100% - 3px);
  left: 0;
  top: calc(100% - 10px);
  background-color: white;
  padding-top: 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 0px 40px 0px #00000012;
  overflow: hidden;
  z-index: 0;
}
.rotate .input{
  background-color: #F0F0F0;
  border: 1.5px solid #111111;
}
.select-header{
  position: relative;
  z-index: 1;
}
.options{
  padding: 12px;
  font-size: 14px;
}
.dropdownArrow{
  position: absolute;
  right: 12px;
  top: 12px;
}
.rotate .dropdownArrow{
  transform: rotate(180deg);
}
.justify-end{
  justify-content: end;
}
.customTime{
  width: 100%;
  background-color: #F3F4F5 !important;
}
.customTime:hover{
  background-color: #F0F0F0 !important;
  border-color: transparent !important;
}
.ant-picker-focused,.ant-picker-outlined:focus-within{
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
  border: 1.5px solid #111111 !important;
}
.align-end{
  align-items: end;
}
.customTime .anticon {
  display: none !important;
}
.addTime{
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Container for the slider */
.slider-gallery {
  text-align: center;
  margin: 20px auto;
  width: 80%;
  overflow: hidden;
}

.image-slider {
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow-x: auto;
}

.slider-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s, border-color 0.3s;
}

.slider-image:hover {
  transform: scale(1.1);
  border-color: #007bff;
}

.open-gallery-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.open-gallery-btn:hover {
  background-color: #0056b3;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 30px 60px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 700px;
  height: 500px;
}

.modal-image {
width: 100%;
height: 100%;
}
.viewMoreBtn{
  margin: 0 auto;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #111111;
  border-radius: 12px;
  width: fit-content;
  cursor: pointer;
}
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-btn img{
  filter: invert(1);
  transform: rotate(-90deg);
}
.nav-btn.prev-btn img{
  transform: rotate(90deg);
}
.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}
.ant-modal-content{
  max-width: 484px !important;
  padding: 30px !important;
  border-radius: 32px !important;
  position: relative;
  overflow: hidden;
}
.br10{
  border-radius: 10px;
}
.modalbg{
  position: absolute;
  left: 0;
  top: 0;
}
.modalImage{
  text-align: center;
}
.lightBlack{
  color: #303030;
}
.rc{
  color: #FF3C3F;
}
.greyColor{
  color: #66728E;
}

.ant-modal .selecModalFollowerList {
  width: 900px !important;
}

/* .noDataFound {
  grid-column: span 3 !important;
  text-align: center !important;
  height: 300px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
} */

@media (max-height: 600px) {
  .loginside {
    align-items: start;
  }

  .mx-450 {
    padding: 45px;
  }
}

@media (max-width: 1549.98px) {
  .divider ,.divider2{
    margin: 16px 0;
  }
  .rightSidebar .fs-20{
    font-size: 16px;
  }
  .btn{
    height: 38px;
    font-size: 13px;
    line-height: 18px;
  }
  input, textarea,.input{
    padding: 8.5px 10px;
    width: calc(100% - 23px) !important;
    border-radius: 8px;
  }
  .absoluteImage{
    width: 16px;
  }
  .lineSearch::after {
    height: 19px;
    left: 39px;
  }
  .lineSearch input {
    padding-left: 50px;
    width: calc(100% - 63px) !important;
  }
  .btnSecondary{
    height: 36px;
  }
  .rightSidebar .fs-20{
    font-size: 16px;
  }
  .rightSidebar .fs-18{
    font-size: 14px;
  }
  
}
@media (max-width: 1023.98px) {
  .mobileHide {
    display: none;
  }
  
  .w-lg-50 {
    width: 100%;
  }
  
  .mobileShow {
    display: block;
  }
  
  .mx-450 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 575.98px) {
  .flexsm{
    flex-direction: column;
    align-items: flex-start;
  }
  .flexrightsm{
    flex-direction: column;
    align-items: end;
  }
}